/* css Reset */
body {
    margin: 0px;
    padding: 0px;
    /* background image mention path in wrl */
    background: url('../img/Hotel bg.jpg');
}

.left {
    display: inline-block;
    position: absolute;
    left: 26px;
    top: 25px;
}

.left img {
    width: 124px;
    filter: invert(100%);
}

.right {
    /* To place in extreme right */
    position: absolute;
    right: 16px;
    top: 27px;
    display: inline-block;
}

.mid {
    display: block;
    width: 33%;
    margin: 18px auto;
    ;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 10px 3px;
    font-size: 20px;
    font-weight: 700;
    margin: 2px;
    width: 35px;
}

.navbar li a:hover,.navbar li a.active {
    text-decoration: underline;
    color: rgb(127, 201, 54);
}

.btn {
    padding: 4px 14px;
    margin: 0px 5px;
    border-radius: 6px;
    background-color: #97b4adde;
    color: #072f25de;
    font-size: 14px;
    border: 2px solid #0d2d25de;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(85, 135, 118);
    font-family: cursive;
    color: black;
}

.container {
    color: rgb(0, 0, 0);
    border: 3px solid #054133;
    background-color: rgb(151,180,173,0.85);
    border-radius: 23px;
    margin: -1px 44px;
    padding: 9px 15px;
    width: 30%;
}
.forms{
    margin:6px;
    padding: 3px;
}
.forms input{
    padding: 3px 7px;
    width: 140px;
    font-family: cursive;
    border: solid 1px black;
    font-size: 15px;
}
.bt{
    padding: 4px 14px;
    margin: 0px 5px;
    border-radius: 6px;
    background-color: #054133;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.bt:hover{
    background-color: #07634e;
}